* {
  margin: 0;
  padding: 0;
  border: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}
div,
img,
footer,
span,
section,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}
header {
  background: transparent;
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a {
  text-decoration: none;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}
#portifolio {
  display: flex;
  flex-direction: column;
  background-image: url(./img/fundo-portifolio.png);
  background-size: cover;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  width: auto;
  height: 1082px;
  position: relative;
}
#servicos {
  display: flex;
  flex-direction: column;
  background-image: url(./img/fundo_textura.png);
  background-size: cover;
  padding-top: 50px;
  width: auto;
  height: 1074px;
  position: relative;
}
#servicos .subtitulo-ns::before {
  content: url(./img/boda-inferior-subtitulo.svg);
  position: absolute;
  left: 80px;
  top: 170px;
}
#servicos .subtitulo-ns::after {
  content: url(./img/boda-superior-subtitulo.svg);
  position: absolute;
  top: 60px;
  left: 500px;
}
#banner {
  width: 100%;
  height: 1066px;
}
#portf1 {
  background-image: linear-gradient(#000205b2, #11111180),
    url(./img/portifolio/portfolio-artus.png);
}
#portf2 {
  background-image: linear-gradient(#000205b2, #11111180),
    url(./img/portifolio/portfolio-cesep.png);
}
.card-portf {
  width: 540px;
  height: 405px;
  border-radius: 20px;
  padding-bottom: 100px;
  background-size: cover;
  color: #f2f3f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: transform 0.5s;
  transform: translateY(0px);
}
.card-portf h3 {
  font-family: ubuntu;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 10px;
}
.card-portf p {
  font-family: ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: rgba(242, 243, 244, 0.7);
}
.container-portf {
  display: flex;
  align-items: center;
  padding-top: 20px;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 41px;
  column-gap: 60px;
  height: 1060px;
  position: relative;
}
.titulo-portf {
  font-family: ubuntu;
  font-size: 24px;
  font-weight: 500;
  color: rgba(31, 100, 197, 0.9);
  padding-bottom: 10px;
  margin: 0;
}
.subtitulo-portf {
  font-family: Nunito;
  font-size: 35px;
  font-weight: 700;
  color: #1f64c5;
  padding-bottom: 58px;
  position: relative;
  margin: 0;
}
#portifolio .subtitulo-portf::before {
  content: url(./img/boda-inferior-subtitulo.svg);
  position: absolute;
  left: -24px;
  top: 20px;
}
#portifolio .subtitulo-portf::after {
  content: url(./img/boda-superior-subtitulo.svg);
  position: absolute;
  top: -15px;
}

.container-Cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 30px;
  height: 700px;
  column-gap: 30px;
  margin-top: -58px;
}
.container-ns {
  display: inline-flex;
  padding: 30px 90px;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}
.SBotao {
  width: 495px;
  height: 89px;
  border-radius: 20px;
  background-color: #cfdd19;
  color: #505c2d;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0px 25px 50px 0px rgba(207, 221, 25, 0.5);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.SBotao-txt {
  color: var(--unect-verde-escuro, #505c2d);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
}
.cards-ns {
  width: 360px;
  height: 475px;
  border-radius: 20px;
  background-color: #2377ed;
  color: #f2f3f4;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 1px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 0.5s ease;
  margin: 0;
  position: relative;
}
.txt1-ns {
  color: var(--unect-branco, #f2f3f4);
  font-family: Ubuntu;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  position: absolute;
  margin-bottom: 200px;
}
.txt2-ns {
  color: var(--unect-verde, #cfdd19);
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
  margin: 0 15px;
  position: absolute;
  margin-top: -80px;
}
.txt3-ns {
  color: var(--unect-branco, #f2f3f4);
  text-align: center;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  position: absolute;
  margin-top: 220px;
}
.txt4-ns {
  color: var(--unect-branco, #f2f3f4);
  font-family: Ubuntu;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  position: absolute;
  margin-bottom: 180px;
}
.txt5-ns {
  color: var(--unect-verde, #cfdd19);
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
  margin: 0 15px;
  position: absolute;
  margin-top: -80px;
}
.txt6-ns {
  color: var(--unect-branco, #f2f3f4);
  text-align: center;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  position: absolute;
  margin-top: 220px;
}
.s-icon {
  position: absolute;
  margin-bottom: 310px;
}
.pontoCard {
  margin-bottom: 4px;
}
.linhaCard1 {
  position: absolute;
  left: -95px;
  margin-top: 8px;
}
.linhaCard2 {
  position: absolute;
  left: 194px;
  margin-top: 8px;
}
.linhaCard3 {
  position: absolute;
  left: 0px;
  margin-top: -78px;
}
.linhaCard4 {
  position: absolute;
  left: 289px;
  margin-top: -78px;
}
.linhaCard5 {
  position: absolute;
  left: -121px;
  margin-top: 8px;
}
.linhaCard6 {
  position: absolute;
  left: 168px;
  margin-top: 8px;
}
.div-ns {
  align-items: flex-start;
  padding-left: 100px;
}
.titulo-ns {
  font-family: ubuntu;
  font-size: 24px;
  font-weight: 500;
  color: #f2f3f4cc;
  padding-bottom: 10px;
  margin: 0;
}
.subtitulo-ns {
  font-family: Nunito;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 58px;
  margin: 0;
}
.unectBanner {
  background-image: url(./img/time_foto.png);
  background-size: cover;
  background-position: center;
  height: 1066px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(45.83%);
  overflow: hidden;
}
.unectBannerTxt {
  text-align: center;
  margin-top: -500px;
  position: relative;
  font-family: "Ubuntu", sans-serif;
}
.underlinedTxt {
  text-decoration: underline;
  text-underline-offset: 25px;
  margin-right: 37px;
  font-family: Ubuntu;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 9px;
  color: #e0eb4f;
}
.bannerTxt {
  color: #fff;
}
#footer {
  height: 584px;
  background-color: #333333;
  overflow: hidden;
}
.colunaFooter {
  margin-top: 60px;
  width: 25%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  height: 250px;
  text-align: left;
  padding-left: 150px;
  margin-bottom: 200px;
}
.footerLinha {
  display: inline;
  margin-bottom: 103px;
  text-align: center;
}
.horizontal-line {
  border: 1px solid #ffffff;
  margin-left: 150px;
  margin-right: 150px;
  position: relative;
}
.footer-txt1 {
  color: #fff;
  font-family: Ubuntu;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer-txt2 {
  color: #fff;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  margin-top: 0;
}
.footer-txt3 {
  color: var(--Branco, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-txt4 {
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  text-underline-offset: 10px;
  transition: color 0.5s, text-decoration 0.5s;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
}
.Strong {
  font-weight: bold;
}
.Fimg1 {
  margin-top: 30px;
  display: flex;
}
.Fimg2 {
  margin-top: 100px;
  width: 150px;
  height: 184.932px;
}
.header-text {
  display: inline-block;
  font-size: 24px;
  font-family: "Ubuntu", sans-serif;
  transition: color 0.5s, text-decoration 0.5s;
  cursor: pointer;
  text-underline-offset: 10px;
  margin-left: 30px;
}
.menu {
  padding: 150px;
}
.header {
  background-color: #1f64c5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  width: 100%;
}
.logo {
  padding: 150px;
}
.logo-img {
  width: 80px;
  height: 98px;
}
.bt-whatsapp {
  width: 50px;
  height: auto;
  position: fixed;
  bottom: 50px;
  right: 40px;
  z-index: 5;
}
#bt-topo {
  position: fixed;
  bottom: 50px;
  left: 40px;
  width: 50px;
  height: 50px;
  background-color: #226ed8;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
}
.arrow {
  border: solid #f2f3f4;
  border-width: 0 7px 7px 0;
  border-radius: 4px;
  padding: 5px;
  display: inline-block;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    height: 80px;
  }
}
